{
    "extends": [
        "standard",
        "standard-react"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "react"
    ],
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4],
        "padded-blocks": ["off"],
        "quotes": ["off"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4]
    }
}
